<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Nourish{% endblock %}

{% block content %}
<div id="chat-container" class="border p-3 rounded">
    <div id="chat-display" class="chat-display"></div>
    <div class="input-container">
        <input type="text" id="user-input" class="form-control" placeholder="Type your message...">
        <button class="btn btn-primary btn-custom-color" onclick="sendMessage()">Send</button>
    </div>
    <div id="default-questions" class="my-2">
        <button class="btn btn-secondary" onclick="setInput('What should I eat now?')">What should I eat now?</button>
    </div>
</div>
{% endblock %}