<!-- templates/records.html -->
{% extends "base.html" %}

{% block title %}飲食紀錄{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='records.css')}}">
<div id="records-container" class="border p-3 rounded ">
  <h4>You've already eaten today...</h4>
  <table class="table">
      <thead>
          <tr>
              <th>食物</th>
              <th>熱量</th>
              <th>碳水化合物</th>
              <th>蛋白質</th>
              <th>脂肪</th>
          </tr>
      </thead>
      <tbody>
          {% for record in records %}
          <tr>
              <td>{{ record.Food }}</td>
              <td>{{ record.Cal }}</td>
              <td>{{ record.Carb }}</td>
              <td>{{ record.Protein }}</td>
              <td>{{ record.Fat }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
  <h4>Diet objective</h4>
  <div>{{ diet_objective }}</div>
</div>
<!-- <script src="{{ url_for('static', filename='records.js') }}"></script> -->
{% endblock %}
