<!-- templates/records.html -->
{% extends "base.html" %}

{% block title %}飲食紀錄{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='records.css')}}">
<div id="records-container" class="border p-3 rounded ">
    <table class="table table-responsive ">
        <thead>
          <tr>
            <th>Food</th>
            <th>Cal</th>
            <th>Carb</th>
            <th>Protein</th>
            <th>Fat</th>
          </tr>
        </thead>
        <tbody id="foodLog">
        </tbody>
    </table>
    <!-- <button id="addRow" class="btn btn-primary">新增记录</button> -->
</div>

<script src="{{ url_for('static', filename='records.js') }}"></script>
{% endblock %}
